.form-header{
    margin : 0;
    padding-bottom: 30px;
    color: #9d9d9d;
}
.form-style{
    width: 240px;
}

.input-text{
    width: 100%;
    height: 2em;
    padding: 1.0em 0.125em 0em 0.125em;
    font-size: 0.8em;
    background-color: rgba(0,0,0,0);
    border-top: 0px; 
    border-bottom: 2px solid #9d9d9d;
    border-left: 0px;
    border-right: 0px;
}
    
.button {
    font-size: 1.0em;
    display: block;
	margin: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
	width: 150px;
	text-decoration: none;
    text-align: center;
	border-radius: 4px;
    border: 0px;
    color: #9d9d9d;
    background-color: rgba(0,0,0,0);
    box-shadow: #9D9D9D 0 0px 0px 2px inset;
}

.button:hover {
    color: rgba(255, 255, 255, 0.85);
    box-shadow: #9D9D9D 0 0px 0px 40px inset;
    cursor: pointer;
}

.disabled-button {
    font-size: 1.0em;
    display: block;
	margin: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
	width: 150px;
	text-decoration: none;
    text-align: center;
	border-radius: 4px;
    border: 0px;
    color: rgba(0,0,0,0.2);
    background-color: rgba(157,157,157,0.8);
}