.title{
    padding-left: 30px;
	padding-top: 40px;
	margin-bottom: 0px;
	}
.x-button{
	position: fixed;
	top: 0px;
	right: 30px;
	width: 30px;
    height: 60px;
    background-color: red;
}
.dotted-line1{
    border-top: 2.5px dashed #000;
}
.dotted-line2{
    border-top: 2.5px dashed;
}
.wrap{
    padding-top: 30px;
}