
<<<<<<< HEAD

=======
.login-page-line1{    
    width: 1px;
    height: 30px;
    background-color: #9D9D9D;
}    
>>>>>>> main
.login-page-line2{
    width: 1px;
    height: 100px;
    background-color: #9D9D9D;
}

    
