<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>도움말</title>
        
        <link rel="stylesheet" href="/DailyHappy/WebApp/resources/css/headerStyle.css"/>
        <style type="text/css">
            #d-info-container{
                display: inline-block;
                margin-top: 30px;
                text-align: center;
                width: 60%;
                padding: 20px; 
                margin-bottom: 25px;
                
                outline: 2.5px solid #000;
                border-radius: 8px;
            }
        </style>
    </head>
    <body>
      <header>
            <h2 class="title">개발자 정보</h2>
            <div class="x-button">x</div>
            <hr class = "dotted-line2">
        </header>
       <article align="center">
            <div id="d-info-container">
                삼육대학교 컴퓨터·메카트로닉스 공학부<br>
                팀 ZIZIZU<br><br>
                &#60;Zi존간Zi공주 명단&#62;<br>
                콩 공주<br>
                맛 공주<br>
                쥑 공주<br>
                <br>
                문의는 princesszizonganzi@gmail.com으로 연락 바랍니다.<br>
                <br>
                ⓒZIZIZU
                
            </div>
        </article>
    </body>
</html>