<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">

<title>로그인</title>  


<link rel="stylesheet" href="/DailyHappy/WebApp/resources/css/allStyle.css"/>
<link rel="stylesheet" href="/DailyHappy/WebApp/resources/css/loginStyle.css"/>
<link rel="stylesheet" href="/DailyHappy/WebApp/resources/css/formStyle.css"/>
</head>

<body>
   <div class="container" align="center">
        <div class="login-logo">로고<br></div>
        <!--<div class="login-page-line1"></div>-->
        <h2 class="form-header">로그인</h2>
        <!--<div class="login-page-line2"></div>-->
    
        <form class="form-style" name="loginform" method="post" action="/DailyHappy/WebApp/jsp/login.jsp">

            <input type="email" class="input-text" name="id" placeholder="E-mail"/><br>
            <input type="password" class="input-text" name="pw" placeholder="비밀번호"/><br>
            <input type="submit" class="button" value="로그인"/>
            
        </form>
        아직 계정이 없으신가요?
        <a href="signupView.html" class="button">회원가입</a>
        <!--계정 찾기 기능 추가?-->
   </div>

</body>
</html>