<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Naver login</title>
</head>
<body>

<a id="naverIdLogin_loginButton" href="javascript:void(0)">
	<button type="button"><img src="../resources/images/btnW_White.png"/></button>
</a>
	
	
<li onclick="naverLogout(); return false;">
<a href="javascript:void(0)">
	<span>네이버 로그아웃</span>
</a>
</li>


<script src="https://static.nid.naver.com/js/naveridlogin_js_sdk_2.0.2.js" charset="utf-8"></script>
<script>

var naverLogin = new naver.LoginWithNaverId(
		{
			clientId: "NAX_UJKJEGd7IGwfJSQC", //내 애플리케이션 정보에 cliendId를 입력
			callbackUrl: "http://localhost:8005/views/mainView.jsp", // 내 애플리케이션 API설정의 Callback URL 을 입력
			isPopup: false,
			callbackHandle: true
		}
	);	

naverLogin.init();

window.addEventListener('load', function () {
	naverLogin.getLoginStatus(function (status) {
		if (status) {
			var email = naverLogin.user.getEmail(); // 필수로 설정할것을 받아와 아래처럼 조건문
    		
			console.log(naverLogin.user); 
    		
            if( email == undefined || email == null) {
				alert("이메일은 필수정보입니다. 정보제공을 동의해주세요.");
				naverLogin.reprompt();
				return;
			}
		} else {
			console.log("callback 처리에 실패하였습니다.");
		}
	});
});


var testPopUp;
function openPopUp() {
    testPopUp= window.open("https://nid.naver.com/nidlogin.logout", "_blank", "toolbar=yes,scrollbars=yes,resizable=yes,width=1,height=1");
}
function closePopUp(){
    testPopUp.close();
}

function naverLogout() {
	openPopUp();
	setTimeout(function() {
		closePopUp();
		}, 1000);
	
	
}
</script>
</body>
</html>