<style type="text/css">
a{
	text-decoration : none;
}
.x-button a:visited{
	color: #ffffff;
}
.title{
    padding-left: 30px;
	padding-top: 40px;
	margin-bottom: 0px;
	}

.wrap{
    padding-top: 30px;
}
.white-tri{
	position: fixed;
	top: 70px;
	right: 15px;
	width: 0px;height: 0px;
	border-top:30px solid none;
  	border-bottom:30px solid #fff;
  	border-right: 30px solid transparent;
  	border-left: 30px solid  transparent;
  	z-index: 2;
}
.x-button{
	position: fixed;
	top: 0px;
	right: 30px;
	width: 30px;
    height: 75px;
    padding-top: 20px;
    background-color: #AAAAAA;
    z-index: 1;
    font-size: 30pt;
    text-align: center;
    color: #ffffff;
}
.dotted-line1{
    border-top: 2.5px dashed #000;
    z-index: 3;
}
.dotted-line2{
    border-top: 2.5px dashed #fff;
    z-index: 3;
}
section{
	z-index: 3;
}
</style>

<div class="white-tri"></div>
<div class="x-button">
	<a href="mainView.jsp">x</a>
</div>
<hr class = "dotted-line1">